/* ====== Global Styles ====== */
body {
  background-color: #f8f9fa; 
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: #333; 
}

.navbar {
  background-color: #343a40 !important; 
}

.navbar .nav-link {
  color: #f8f9fa !important;
  transition: color 0.2s;
}

.navbar .nav-link:hover {
  color: #ffc107 !important; 
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #252323;
}


.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}


footer {
  background: #343a40;
  color: #f8f9fa;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-radius: 8px 8px 0 0;
}

/* RVIEW STARS styling */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.star-rating input {
  display: none;
}
.star-rating label {
  font-size: 1.2rem;
  cursor: pointer;
  color: lightgray;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}
